# Logs
MediaReport/client/logs
MediaReport/client/*.log
MediaReport/client/npm-debug.log*
MediaReport/client/yarn-debug.log*
MediaReport/client/yarn-error.log*
MediaReport/client/pnpm-debug.log*
MediaReport/client/lerna-debug.log*
MediaReport/client/node_modules
MediaReport/client/dist
MediaReport/client/dist-ssr
MediaReport/client/*.local

# Editor directories and files
MediaReport/client/.vscode/*
MediaReport/client/!.vscode/extensions.json
MediaReport/client/.idea
MediaReport/client/.DS_Store
MediaReport/client/*.suo
MediaReport/client/*.ntvs*
MediaReport/client/*.njsproj
MediaReport/client/*.sln
MediaReport/client/*.sw?

MediaReport/client/ClientResources/*
MediaReport/ClientResources/*
packages
packages/*
artifacts
artifacts/*
out
out/*
MediaReport/bin
.vs
.vs/*
.idea/*